/*navbar*/
.navbar{
    background-color: rgba(207, 145, 64, 0.795) ;
    height: 4em;
}

/*iconos de navbar */


.fa-linkedin:hover{
    color: rgb(99, 154, 190);
}
.fa-github:hover{
    color: rgb(209, 164, 123);
}
